<p id="notice"><%= notice %></p>

<p>
  <h2>Name: <%= @task_category.name %></h2>
</p>

	<h2>Specifications</h2>
   	<% @task_category.specifications.each do |specification| %>
		<ul>
			<li>Specification: <%= specification.name %>
				<%= link_to 'Show', specification %>
    			<%= link_to 'Edit', edit_specification_path(specification) %>
    			<%= link_to 'Destroy', specification, confirm: 'Are you sure?', method: :delete %>
			</li>
		</ul>
	<% end %>


<%= link_to 'Edit', edit_task_category_path(@task_category) %> |
<%= link_to 'Back', task_categories_path %>
