<p id="notice"><%= notice %></p>

<p>
  <h2>Name: <%= @task_category.name %></h2>
</p>

	<h2>Tasks</h2>
   	<% Task.where(:task_category_id => @task_category.id).each do |task| %>
		<ul>
			<li>Task: <%= task.name %>
				<%= link_to 'Show', task %>
    			<%= link_to 'Edit', edit_task_path(task) %>
    			<%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %>
			</li>
		</ul>
	<% end %>


<%= link_to 'Edit', edit_task_category_path(@task_category) %> |
<%= link_to 'Back', task_categories_path %>
