<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :task_desc %><br />
    <%= f.text_field :task_desc %>
  </div>
  <div class="field">
    <%= label_tag "add_hour" %><br />
    <%= number_field_tag "add_hour", value = 0, options = 
    	{ :min => 0 } %>
  </div>
  <div class="field">
    <%= label_tag "add_minute" %><br />
    <%= number_field_tag "add_minute", value = 0, options = 
    	{ :step => 15, :min => 0, :max => 45 } %>
  </div>
  <div class="field">
    <%= f.label :act_hour %> (only adjust to fix errors)<br />
    <%= f.number_field :act_hour, { :value => @task.act_hour } %>
  </div>
  <div class="field">
    <%= f.label :act_minute %> (only adjust to fix errors)<br />
    <%= f.number_field :act_minute, 
    	{ :value => @task.act_minute, :step => 15, :min => 0, :max => 45 } %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.number_field :priority, options = 
    	{ :value => @task.priority, :min => 1, :max => 5 } %>
  </div>
  <div class="field">
  	<%= f.label :category_id %><br />
	<%= 
	 f.select(:category_id, Category.all.collect {|c| [ c.name, c.id ] } )
	 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
