<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Task desc:</b>
  <%= @task.task_desc %>
</p>

<p>
  <b>Est hour:</b>
  <%= @task.est_hour %>
</p>

<p>
  <b>Est minute:</b>
  <%= @task.est_minute %>
</p>

<p>
  <b>Act hour:</b>
  <%= @task.act_hour %>
</p>

<p>
  <b>Act minute:</b>
  <%= @task.act_minute %>
</p>

<p>
  <b>Priority:</b>
  <%= @task.priority %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<% if @task.category == nil %>
	<%= link_to 'Back', tasks_path %>
<% else %>
	<%= link_to "Back", @task.category %>
<% end %>
