<h1>Listing requirements</h1>

<table class="table">
  <tr>
    <th><b>Req desc</b></th>
    <th><b>Specification</b></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @requirements.each do |requirement| %>
  <% 
  	if requirement.specification_id != nil
  		specification = Specification.find(requirement.specification_id)
  		specification_name = specification.name
  	else
  		specification = nil
  		specification_name = ""
  	end		
  %>
  
  <tr>
    <td><%= requirement.req_desc %></td>
    <td><%= specification_name %></td>
    <td><%= link_to 'Show', requirement %></td>
    <td><%= link_to 'Edit', edit_requirement_path(requirement) %></td>
    <td><%= link_to 'Destroy', requirement, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Requirement', new_requirement_path %>
