<%= form_for(@specification) do |f| %>
  <% if @specification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@specification.errors.count, "error") %> prohibited this specification from being saved:</h2>

      <ul>
      <% @specification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :spec_desc %><br />
    <%= f.text_area :spec_desc %>
  </div>
  <div class="field">
  	<%= f.label :category_id %><br />
	<%= f.select(:category_id, get_all_category_select_options, 
		{:include_blank => '(none)'} ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
