<h1>Listing specifications</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Spec desc</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @specifications.each do |specification| %>
  <% 
  	if specification.category_id != nil
  		category = Category.find(specification.category_id)
  		category_name = category.name
  	else
  		category = nil
  		category_name = ""
  	end		
  %>
  
  <tr>
    <td><%= specification.name %></td>
    <td><%= specification.spec_desc %></td>
    <td><%= 
    	category_name 
    	%></td>
    <td><%= link_to 'Show', specification %></td>
    <td><%= link_to 'Edit', edit_specification_path(specification) %></td>
    <td><%= link_to 'Destroy', specification, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Specification', new_specification_path %>
